@import "functions";

$color_white: #EEE;
$color_gray: #999;
$color_light_gray: #BBB;
$color_green: #00d235;
$color_black800: #000e00;
$color_black900: #000000;
$color_gray500: #2C3A40;
$color_gray700: #22272e;
$color_gray800: #44475a;
$color_red: #BA0E0E;

$color_light_text: $color_gray;
$color_dark_text: $color_gray500;

$primary_color: $color_gray700;
$secondary_color: $color_green;

$lighten: 8;
$darken: 30;

$colors: (
  primary: (
    base: $primary_color,
    dark: darken($primary_color, $darken),
    light: lighten($primary_color, $lighten),
  ),
  secondary: (
    base: $secondary_color,
    dark: darken($secondary_color, $darken),
    light: lighten($secondary_color, $lighten),
  ),
);


$font_family_1: 'roboto', sans-serif;

