$bg-button: lighten($bg-color, 30);

@mixin button-reset() {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $bg-button;
  color: set-text-color($bg-button);
  border: none;
  margin: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.c-button {
  @include button-reset();

}
