.c-curriculo {
  @include container();
  font-size: 1.1rem;
  display: grid;

  &__experiencia {
    @include flex-center(column);

    .c-experiencia__item {
      @include flex-center(column);
      text-align: center;
      height: toRem(190);
      display: none;

      h2 {
        margin-bottom: toRem(30);
      }
    }

    .c-select {
      $size-button: toRem(25);

      width: toRem(150);
      @include flex-between();
      position: relative;
      margin: 2.5rem 1.5rem 0 1.5rem;

      .c-btn__slide {
        border-radius: 50%;
        width: $size-button;
        height: $size-button;
        text-align: center;
        background-color: $bg-color;
        border: toRem(3) solid $color-gray800;

        &--select {
          border-color: $color-green;
        }
      }

      &__time {
        position: absolute;
        background-color: $color-green;
        transition: .5s ease;
        width: 0%;
        height: toRem(3);
        z-index: -2;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      .c-select {
        width: toRem(190);
        $size-button: toRem(30);
        .c-btn__slide {
          width: $size-button;
          height: $size-button;
        }
      }
    }

  }

  &__habilidades {
    @include flex-center(column);
    align-items: flex-start;
    margin-top: 3rem;
    .c-language {
      margin: 2rem 0 0 0;

      h3 {
        text-transform: uppercase;
      }

      p {
        margin: .5rem 0 0 1rem;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
    }
  }


  @media screen and (min-width: 1170px) {
    grid-template-columns: .75fr 1.25fr;
    @include container(1170px);

    &__experiencia {
      font-size: 1.2rem;
      .c-select {
        width: toRem(150);
        $size-button: toRem(25);
        .c-btn__slide {
          width: $size-button;
          height: $size-button;
        }
      }
    }

    &__habilidades {
      .c-language {
        margin: 0 0 1rem 5rem;
      }
    }
  }
}
