// .c-form {
//   @include container();
//   font-size: 1.5rem;
//   margin-top: 7rem;
//   margin-bottom: 4rem;
//
//   form {
//     @include flex-center();
//     flex-direction: column;
//     padding: 2rem;
//     background: rgba( 105, 105, 105, .1 );
//     box-shadow: 0 5px 30px 0 rgba( 155, 155, 155, .1 );
//     backdrop-filter: blur( toRem(25) );
//     border-radius: toRem(7);
//     border: 1px solid rgba( 155, 155, 155, 0.18 );
//   }
//
//   &__wrapper {
//     width: 100%;
//     div + div {
//       padding-top: 2rem;
//     }
//   }
//
//   &__msg {
//     display: inline-block;
//     margin-top: 4rem;
//     width: 100%;
//   }
//
//   input {
//     border: none;
//     border-bottom: 1px solid set-text-color($bg-color);
//   }
//
//   textarea {
//     border: 1px solid set-text-color($bg-color);
//     resize: none;
//     padding: toRem(5);
//     margin-top: toRem(15);
//   }
//
//    textarea, input {
//     width: 100%;
//     background-color: inherit;
//     outline: none;
//     color: #FFFC;
//   }
//
//   button {
//     margin-top: 2rem;
//     width: 9rem;
//     height: 4rem;
//     background-color: inherit;
//     border: 1px solid $color_gray;
//     cursor: pointer;
//     transition: .7s ease;
//     border-radius: .2rem;
//     font-size: 1.2rem;
//     font-weight: 800;
//     background-color: darken($bg-button, 25);
//
//     &:hover {
//       background-color: darken($bg-button, 15);
//     }
//   }
//
//   @media screen and (min-width: 768px) {
//     width: toRem(700);
//     &__wrapper {
//       @include flex-between();
//       width: 100%;
//       div + div {
//         padding-top: 0;
//       }
//     }
//   }
// }






.c-form {
  @include container(430px);
  height: 600px;
  font-size: 1.5rem;
  // margin-top: 7rem;
  // margin-bottom: 4rem;

  form {
    @include flex-center(column);
    padding: 2rem;
    background: rgba( 105, 105, 105, .1 );
    box-shadow: 0 5px 30px 0 rgba( 155, 155, 155, .1 );
    backdrop-filter: blur( toRem(25) );
    border-radius: toRem(7);
    border: 1px solid rgba( 155, 155, 155, 0.18 );
  }

  &__wrapper {
    width: 100%;
    div + div {
      padding-top: 1.5rem;
    }
  }

  &__msg {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
  }

  input {
    border: none;
    border-bottom: 1px solid set-text-color($bg-color);
  }

  textarea {
    border: 1px solid set-text-color($bg-color);
    resize: none;
    // padding: toRem(5);
    margin-top: toRem(8);
  }

   textarea, input {
    width: 100%;
    background-color: inherit;
    outline: none;
    color: #FFFC;
  }

  button {
    margin-top: 2rem;
    width: 8rem;
    height: 3.5rem;
    background-color: inherit;
    border: 1px solid $color_gray;
    cursor: pointer;
    transition: .7s ease;
    border-radius: .2rem;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: darken($bg-button, 25);

    &:hover {
      background-color: darken($bg-button, 15);
    }
  }

  @media screen and (min-width: 768px) {
    width: toRem(650);
    &__wrapper {
      @include flex-between();
      width: 100%;
      div + div {
        padding-top: 0;
      }
    }
  }
}
